 * {
    background-color:aqua;
    filter:blur(50)

    font-weight; absolute
    




}



    .custom-div {
        background-color: lightgreen;
        color:cue-region yellow
    }




h1 {
    color: orange;
    font-family: 'curlz MT',Impact;
    font-size: 175px;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 1.5;
    text-align: :right;
}

p {
    color: #685206;
    font-family: 'Franklin Gothic', 'Gill Sans', 'Gill Sans MT';
    font-size: 1px;
    line-height: 1px;
    margin: 0 0 1px;
    text-align: match-parent;
    text-justify: inter-word;
}

textarea {
    color:#685206
    margin: 20px;
    width: 300px;
    height: 50px;
}

ul, ol {
    margin: 20px;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 20px solid #ccc;
}
   
li:last-child {
    color:#685206
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:50px;
    margin:50px
}